<%- include("header")  -%>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, repudiandae fugiat? Nesciunt, quasi nemo cumque at esse tempore rerum corporis soluta culpa fugiat debitis? Minima ex quisquam temporibus expedita nesciunt.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima minus hic ipsam soluta facilis nostrum quas consequuntur nemo fugit vitae, animi, dignissimos itaque, reprehenderit quos?</p>


<%- include("footer")  -%>